* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anti";
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "Anti";
    color: #ffffff;
}